/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);*/

html, body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-weight: 400;
  background: #95a5a6;
}

/*Universal*/
a, a:active, a:focus {
  text-decoration: none;
  outline-style: none;
}

.panel{
  border: none;
}

.panel-heading, .panel-info>.panel-heading {
  background-color: #34495e;
  color: #fff;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
  display: none;
    padding-left: 70px;
    padding-top: 100px;
    transition: all .4s ease 0s;
    height: 100%;
    background: #95a5a6;
}

.admin-header {
	position: fixed;
	top: 0;
	margin-left: -70px;
	width: 100%;
	z-index: 10000;
	transition: all .4s ease 0s;
}

.admin-header .admin-inner {
  background-color: #34495e;
  border-bottom: 4px solid#2c3e50;
  box-shadow: 0 4px 12px #888;
  height: 100px;
  z-index: 9999 !important;
}

#sidebar-wrapper {
  margin-left: -180px;
  margin-top: 100px;
  left: 70px;
  top: 0;
  width: 180px;
  background: #2c3e50;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 180px;
}
#wrapper.active .admin-header {
	margin-left: -180px;
}
#wrapper.active #sidebar-wrapper {
    left: 180px;
}
#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #F4F4F4;
  display: block;
  float: left;
  text-decoration: none;
  width: 180px;
  background: #34495e;
  border-top: 1px solid #2c3e50;
  border-bottom: 1px solid #2c3e50;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

#sidebar.sidebar-nav li.active a {
	border-right: 2px solid #fff;
	color: #a94442;
}

.news-tab > .news-tab-content {
	display: none;
}

.news-tab > .news-tab-content.active {
	display: block;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 30px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 30px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
	}
	#sidebar-wrapper {
	    left: 70px;
	}
	#wrapper.active {
	    padding-left: 180px;
	}
	#wrapper.active #sidebar-wrapper {
	    left: 180px;
	    width: 180px;
	    transition: all .4s ease 0s;
	}
}

/*
========================================
                LOGIN
========================================
*/

.login .login-logo i {
  font-size: 15em;

}

.admin-inner {
  line-height: 100px;
}

.admin-logo {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

.admin-logout {
  margin-right: 20px;
  font-size: 10px;
  font-weight: bold;
}

/*
================================
              Modal
================================
*/
.modal {
  z-index: 99999;
}

.modal .header {
  background-color: #2c3e50;
  color: #fff;
}


/*
================================
            typeahead
================================
*/
.tt-dropdown-menu, .gist {
    text-align: left;
}

.title, .example-name {
    font-family: Prociono;
}
p {
    margin: 0 0 10px;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.example-name {
    font-size: 15px;
    margin: 20px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #CCCCCC;
}
.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
}
.example-twitter-oss .repo-name {
    font-weight: bold;
}
.example-twitter-oss .repo-description {
    font-size: 14px;
}
.example-sports .league-name {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px 5px;
    padding: 3px 0;
}
.example-arabic .tt-dropdown-menu {
    text-align: right;
}

/********************************************************************/
/*** PANEL INFO ***/

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #fff;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}



/*================HEADELINES=================*/
.headline,
.topNews,
.carousel-slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline li {
  padding: 20px 0px;
}
.topTen li,
.slidesTitle li {
  padding-top: 5px;
  padding-bottom: 15px;
}

.topTen,
.slidesTitle {
  list-style: none;
  padding: 5px 0px 5px 0px;
  margin: 0;
}


/*================Upload Image Button==================*/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/*==================Center Image==================*/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*spinner*/
.loader {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.69);

  z-index: 99999;
}

.loader .fa-spinner-loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  color: #a94442;
  z-index: 999999;
}


.client-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
